Source: openmediavault-links
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-links
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.6.0.10)
Description: OpenMediaVault links plugin
 Plugin to add links to the OpenMediaVault web
 interface that are stored in the database and
 can be viewed/clicked to open a new tab/window
 for that link.
